[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_API_BASE_URL = "http://localhost:8000"

[[plugins]]
  package = "@netlify/plugin-nextjs"
